aiohttp==3.7.4
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
entrypoints==0.3
flake8==3.7.9
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.5.5
httpx==0.12.1
hyperframe==5.2.0
idna==2.9
mccabe==0.6.1
multidict==4.7.5
psycopg2-binary==2.8.5
pycodestyle==2.5.0
pyflakes==2.1.1
requests==2.23.0
rfc3986==1.4.0
six==1.14.0
sniffio==1.1.0
soupsieve==2.0
tenacity==6.2.0
urllib3==1.25.9
yarl==1.4.2
